<?xml version="1.0"?>
<launch>

  <arg name="use_gazebo" value="true" />

  <!-- <include file="$(find moveit_config)/launch/enviorment.launch">
    <arg name="use_gazebo" value="$(arg use_gazebo)"/>
  </include> -->
  
  <node name="main" pkg="arm_control" type="main.py"  respawn="false" output="screen"/>
</launch>