<?xml version="1.0"?>
<launch>

  <!-- load URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find arm_urdf)/urdf/gripper_only.xacro'" />

  <!-- define robot name -->
  <arg name="robot_name" value="gripper1"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="TRUE" />

    <!-- default joint angles -->
    <rosparam subst_value="true">
     zeros:
       $(arg robot_name)_palm_hub_left_joint          : 0
       $(arg robot_name)_hub_left_finger_left_joint   : -1.39626
       $(arg robot_name)_hub_right_finger_right_joint : -1.39626
       $(arg robot_name)_palm_finger_thumb_joint      : -0.349066
    </rosparam>
  </node>

  <!-- a node example of how to read the joint states and print to terminal -->
  <!-- <node name="joint_reader" pkg="arm_urdf" type="joint_reader.py" output="screen"/> -->

  <!-- start rviz renderer -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_urdf)/config/view_arm.rviz" required="true" />
</launch>