<?xml version="1.0"?>
<launch>

  <arg name="debug" default="false" />

  <!-- By default, we won't load or override the robot_description -->
  <arg name="load_robot_description" default="false"/>

  <!-- <include file="$(find moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include> -->
  
  <!-- a node example of how to read the joint states and print to terminal -->
  <node name="joint_publisher" pkg="arm_urdf" type="joint_publisher.py"  respawn="false" output="screen"/>
</launch>