<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- ################################################### -->
    <!-- # include statements, much like import statements -->
    <!-- ################################################### -->
    <xacro:include filename="$(find arm_urdf)/urdf/gripper_urdf.xacro"/>



    <!-- ################################################### -->
    <!-- # constants -->
    <!-- ################################################### -->
    <xacro:property name="gripper_prefix" value="gripper1" />
    


    <!-- ################################################### -->
    <!-- # Etc -->
    <!-- ################################################### -->
    <!-- NOTE: order of execution of xacro does not matter -->

    <!-- name must be kept as "world" for it is a Gazebo keyword for world origin -->
    <link name="world"/>

    <!-- using gripper macro defined in gripper_urdf.xacro to define robot -->
    <xacro:gripper prefix="${gripper_prefix}"/>

    <!-- connect the arm to world with fixed joint -->
    <joint name="base" type="fixed">
        <parent link="world" />
        <child link="${gripper_prefix}_palm" />
    </joint>
</robot>

