<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- ################################################### -->
    <!-- # include statements, much like import statements -->
    <!-- ################################################### -->
    <xacro:include filename="$(find arm_urdf)/urdf/arm_urdf.xacro"/>
    <xacro:include filename="$(find arm_urdf)/urdf/arm_gazebo.xacro"/>
    <xacro:include filename="$(find arm_urdf)/urdf/arm_control.xacro"/>



    <!-- ################################################### -->
    <!-- # constants -->
    <!-- ################################################### -->
    <xacro:property name="arm_prefix" value="arm1" />
    


    <!-- ################################################### -->
    <!-- # Etc -->
    <!-- ################################################### -->
    <!-- NOTE: order of execution of xacro does not matter -->

    <!-- name must be kept as "world" for it is a Gazebo keyword for world origin -->
    <link name="world"/>

    <!-- using arm macro defined in arm_urdf.xacro to define robot -->
    <xacro:arm prefix="${arm_prefix}"/>
    <xacro:arm_gazebo_setting prefix="${arm_prefix}"/>
    <xacro:arm_control_setting prefix="${arm_prefix}" />

    <!-- connect the arm to world with fixed joint -->
    <joint name="base" type="fixed">
        <parent link="world" />
        <child link="${arm_prefix}_base_fixed" />
    </joint>
</robot>

